*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

header{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    
}

.mobile-close{
    display: none !important;
    color: azure;
    font-size: 40px;
    font-weight: bold;
    
    text-align: end;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}

header .fa-bars{
    display: none;
    color: white;
    font-size: 30px;
    margin-right: 20px ;
}

header a{
    display: flex;
    align-items: center;
    max-width: 140px;
    height: 80px;
    margin-left: 10px; 
}

header a img{
    align-self: center;
    width: 100%;
}

nav.menu{
    margin-right: 10px;
}

nav.menu ul{
    display: flex;
    list-style: none;
    background-color: rgb(0, 0, 0);
}

nav.menu a{
    text-decoration: none;
    color: white
}


nav.menu ul li{
    display: block;
    line-height: 80px;
    height: 80px;
    padding: 0 30px;
    cursor: pointer;
}

nav.menu ul li:hover{
    background-color: rgb(41, 41, 41)
}

.banner{
    margin-top: 80px;
    display: flex;
    background-image: url('../imagens/pessoa-academia.png');
    background-size: cover;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
}

.banner div{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 200px;
    justify-content: space-around;
    color: aliceblue;
    text-align: center;
}

.banner div h1{
    font-size: 30px;
    text-shadow: 10px black
}

.banner div p{
    
}

.cta{
    background-color: brown;
    width: 200px;
    padding: 15px;
    border-radius: 100% / 1000px;
    text-decoration: none;
    color: white;
    margin: 0 auto
}

.cta-ok{
    background-color: brown;
    width: 150px;
    padding: 13px;
    border-radius: 100% / 1000px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    align-self: center
}


.planos{
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    
}

.planos h1{
    text-align: center;
    margin: 10px 0;
    color: white;
}

.planos .item-plano{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 291px;
    height: 360px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    margin: 10px 0
}

.planos .item-plano img{
    z-index: 1;
    width:80px;
    margin: 0 auto;
}

.planos h1 + div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    flex-wrap: wrap
}


.planos .item-plano div:nth-child(1){
    display: flex;
    flex-direction: column;
    text-align: center;
    
    border-bottom: 1px solid black;
    width: 100%;
}

.planos .item-plano div:nth-child(1) hr{
    border: 0;
    height: 1px;
    background-color: rgb(181, 187, 187);
    width: 70%;
    margin: 0 auto;
    position: relative;
    bottom: 20px
}


.planos .item-plano div:nth-child(1) h3{
    font-size: 18px;
    margin-top: 10px;
}

.planos .item-plano div:nth-child(1) p{
    font-size: 14px;
    margin-bottom: 10px
}



.planos .item-plano div:nth-child(2){
    display: flex;
    flex-direction: column;
    text-align: center;
    
    border-bottom: 1px solid black;
    width: 80%;
    
    height: 50px;
}


.planos .item-plano div:nth-child(2) p{
    font-size: 15px;
}

.planos .item-plano div:nth-child(3){
    display: flex;
    flex-direction: column;
    text-align: start;
    
    
}





.planos .item-plano div:nth-child(3) a{
    background-color: brown;
    width: 130px;
    padding: 13px;
    border-radius: 100% / 1000px;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 30px;
    text-align: center
}

.alunos {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    
}

.alunos h1{
    text-align: center;
    margin: 10px 0;
    color: white;
}
.alunos h1 + div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    flex-wrap: wrap
}


.aluno-item{
    color: azure;
    display: flex;
    flex-direction: column;align-items: center;    
    width: 300px;
    margin: 10px 0;
}

.aluno-item img{
    width: 200px;
    border-radius: 50%
}

.aluno-item h4{
    margin-top: 20px
}

.aluno-item p{
    margin: 10px auto;
    width: 80%;
    text-align: justify
}

.funcionarios {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
}

.funcionarios h1{
    text-align: center;
    margin: 10px 0;
    color: white;
}

.funcionarios h1 + div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    flex-wrap: wrap
}


.funcionarios-item{
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 300px;
    margin: 10px 0;
}

.funcionarios-item img{
    width: 200px;
    
}

.funcionarios-item h4{
    margin-top: 20px
}

.funcionarios-item p{
    margin: 10px auto;
    width: 80%;
    
}

.funcionarios-card {
    background-color: transparent;
    width: 290px;
    height: 290px;
    
    perspective: 1000px;
    padding: 10px
}

.card-dentro {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.funcionarios-card:hover .card-dentro {
    transform: rotateY(180deg);
}

.card-frente, .card-atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-dentro {
    background-color: #bbb;
    color: black;
}

.card-dentro img{
    width: 100%
}

.card-dentro div{
    overflow: hidden;
}


.card-atras {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.card-atras h4 {
    margin: 50px;
}

.card-atras p{
    display: block;
    margin-top: 60px;
    width: 90%;
    margin: 0 auto
}

.exercicios .funcionarios-card {
    background-color: transparent;
    width: 190px;
    height: 190px;
    
    perspective: 1000px;
    padding: 10px
}


.exercicios .funcionarios-card h4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.exercicios .funcionarios-card img{
    width: auto;
    height: 200px;
    
}

.app{
    background-color: rgb(32, 32, 32);
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 60px 0;
    height: 100%;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.app div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: 100%;
    
}

.app div h1{
    font-size: 40px
}

.app div p{
    text-align: center;
    width: 70%;
    align-self: center
    
}
.app img + a{
    display: none;
}

footer{
    background-color: rgb(2, 2, 2);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

footer p{
    margin-left: 30px
}

footer div{
    margin-right: 30px;
}

footer div a{
    margin-right: 20px;
    color: white
}


.container-login{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}


.container-login .login{
    display: flex;
    flex-direction: colum;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255,.8);
    flex-wrap:wrap;
    height: auto;
    width: 300px;
    padding:30px 0;
    
    border-radius: 10px;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login div:nth-child(5) label span{
    display: block;
    margin: 0
}

#login label[for=Csenha] span{
    display: block;
    margin: 0
}
.container-login .login h1{
    width:100%;text-align:center
}


.container-login .login div{
    margin: 10px 0;
    
    
}

.container-login .login div label{
    display: block;
    
}

.container-login .login div label span{
    font-size:13px;
    color:red;
    font-weight:bold;
    margin-left:5px
}

.container-login .login div input{
    outline: none;
    border:2px solid grey;
    font-size: 16px;
    padding:4px 10px;
    
    
}

.container-login .login div input.errado{
    
    border:2px solid rgb(247, 0, 0);
    background-color: rgba(255, 0, 0,.03)
    
    
}


.container-login .login input[type=submit]{
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 10px 55px;
    width: 100%;
    background-color: #0093d7;
    color: white;
    font-weight: bold;
    
    margin: 0 auto
}


.container-login .login input[type=date]{
    font-size: 1.2em;
}

.error-mensagem{
    background-color: red;;
    padding: 5px 0;
    text-align: center;
    color: white;
}

.info{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:calc( 100vh - 130px);
    align-items: flex-start
}

.info div{
    
    
    background-color: rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: wrap;
    height: 40px;
    color: white;
    width: 100%;
}

.info a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    background-color: rgb(192, 148, 3);
    justify-content: center;
    position: relative;
    color: white;
    margin: 10px;
}

.info a.treino-ok{
    background-color: rgb(10, 158, 35);
}


.info a p{
    text-align: center;
    font-weight: bold;
    
    font-size: 23px
}

.info a p span{
    font-size: 33px;
    display: block;
}

.info a p + span{
    
    display: block;
    text-align: center;
    position: absolute;
    bottom: 3px;
    
    width: 100%
}

.treino-diario{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:calc( 100vh - 130px);
}

.treino-diario h1 + div{
    display: flex;
    flex-wrap: wrap;

    justify-content: center
}


.treino-diario h1{
    text-align: center;
    width: 100%;
    margin: 10px;
}

.treino{
    display: block;
    width: 300px;
    height: 150px;
    background: red;
    overflow: hidden;
    position: relative;
    margin: 10px;
    
}

.treino img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.treino div{
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white
}

.treino div h3 {
    text-align: center;
 }
.treino div span{
    
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: normal
}

.treino div h3 + span{
    
   position: absolute;bottom: 10px
}